p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button{
    background-color: rgb(157, 243, 168);
    height: 60px;
    width : 200px;
    transition-delay: 2s;
    transition-property: backgroundd-color;
    border-radius: 13px;
}
button:hover{
    background-color: rgb(152, 180, 107);
    cursor: pointer;
}
.name{
    border-style:dotted;
    border-width: 10px;
    border-color: orange;
}
.mid{
    font-size: 10;
    font-weight: 600;
}
.images{
    border-radius: 13px;
    width: 60%;
    margin-top: 50px;
    transition: all 0.3s;
}
.images:hover{
    width: 80%;
}