button{
    background-color: lightskyblue;
    height: 60px;
    width : 200px;
    transition-delay: 2s;
    transition-property: backgroundd-color;
}
button:hover{
    background-color: darkcyan;
    height: 65px;
    width: 205px;
}
.name{
    border-style:dotted;
    border-width: 10px;
    border-color: orange;
}
.mid{
    font-size: 10;
    font-weight: 600;
}